##################################
# Python
##################################
.venv/
__pycache__/
*.pyc

##################################
# Node / Electron
##################################
node_modules/

##################################
# Backups / local
##################################
BACKUPS/
AutoSauvegarde.bat

##################################
# Logs / temporaires
##################################
*.log
*.tmp

##################################
# OS / IDE
##################################
Thumbs.db
.DS_Store
.vscode/
.idea/
